<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.webex.flutter.calling.feature"
    split="webex_calling_feature">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/webex_calling_feature_title">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application tools:node="merge" />
</manifest>
